body {
    background-image: linear-gradient(to bottom, #f7cac9, #ffd7be);
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  .left-side {
    flex-basis: 30%;
    padding: 20px;
    text-align: left;
  }
  
  .left-side h1 {
    font-size: 48px;
    font-weight: bold;
    color: #333;
  }
  
  .left-side p {
    font-size: 24px;
    color: #666;
  }
  
  .right-side {
    flex-basis: 70%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box {
    width: 80%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .box .MuiTextField-root {
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  .box .MuiButton-root {
    margin-top: 20px;
    background-color: #4CAF50; /* green background */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .box .MuiButton-root:hover {
    background-color: #3e8e41; /* darker green background on hover */
  }