

.search-bar {
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: 40px auto;
  }
  
  .search-input {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .search-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
  }